button.ivm-collection-toggle-button, button.ivm-collection-toggle-button:hover, button.ivm-collection-toggle-button:active {
    background: transparent !important;
    border: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
}

img.ivm-collection-toggle-img {
    width: 30px;
    height: auto;
}